[submodule "ips/pulp_apb"]
	path = ips/pulp_apb
	url = https://github.com/pulp-platform/apb
[submodule "ips/pulp_apb_timer"]
	path = ips/pulp_apb_timer
	url = https://github.com/pulp-platform/apb_timer.git
[submodule "ips/pulp_apb_uart"]
	path = ips/pulp_apb_uart
	url = https://github.com/pulp-platform/apb_uart_sv
[submodule "ips/pulp_ara"]
	path = ips/pulp_ara
	url = https://github.com/pulp-platform/ara.git
[submodule "ips/pulp_cva6"]
	path = ips/pulp_cva6
	url = https://github.com/pulp-platform/cva6.git
[submodule "ips/pulp_reg_if"]
	path = ips/pulp_reg_if
	url = https://github.com/pulp-platform/register_interface.git
[submodule "ips/pulp_rv_dbg"]
	path = ips/pulp_rv_dbg
	url = https://github.com/pulp-platform/riscv-dbg.git
[submodule "ips/pulp_rv_plic"]
	path = ips/pulp_rv_plic
	url = https://github.com/pulp-platform/rv_plic.git
[submodule "ips/tlp-ss/ips/apb_gpio"]
	path = ips/tlp-ss/ips/apb_gpio
	url = https://github.com/pulp-platform/apb_gpio.git
[submodule "ips/tlp-ss/ips/apb_spi_master"]
	path = ips/tlp-ss/ips/apb_spi_master
	url = https://github.com/pulp-platform/apb_spi_master.git
[submodule "ips/tlp-ss/ips/axi_spi_master"]
	path = ips/tlp-ss/ips/axi_spi_master
	url = https://github.com/pulp-platform/axi_spi_master.git
[submodule "ips/tlp-ss/ips/apb_node"]
	path = ips/tlp-ss/ips/apb_node
	url = https://github.com/pulp-platform/apb_node.git
[submodule "ips/bow_common_ips/ips/axi"]
	path = ips/bow_common_ips/ips/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "ips/bow_common_ips/ips/pulp-common-cells"]
	path = ips/bow_common_ips/ips/pulp-common-cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "ips/bow_common_ips/ips/tech_cells_generic"]
	path = ips/bow_common_ips/ips/tech_cells_generic
	url = https://github.com/pulp-platform/tech_cells_generic.git
[submodule "ips/bow_common_ips/ips/common_verification"]
	path = ips/bow_common_ips/ips/common_verification
	url = https://github.com/pulp-platform/common_verification.git
[submodule "ips/tlp-ss/ips/axi_spi_slave"]
	path = ips/tlp-ss/ips/axi_spi_slave
	url = https://github.com/pulp-platform/axi_spi_slave.git
[submodule "ips/tlp-ss/ips/axi_slice_dc"]
	path = ips/tlp-ss/ips/axi_slice_dc
	url = https://github.com/pulp-platform/axi_slice_dc.git
